* {
  outline: none; }

body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif; }

a, a:visited, a:hover, a:active {
  color: inherit; }

textarea {
  border: 0; }

.logo-sm {
  width: 90%; }

.login-page {
  background-color: #2B2F38; }

.main-content {
  background-color: #F0F3FA; }

.main-section {
  max-width: 1080px;
  margin: 0 auto; }

.site-content-toolbar {
  background-color: #363636; }

.side-nav-dark {
  background-color: #363636;
  color: #CCC; }

a.active {
  background-color: #2B2B2B;
  border-right: 5px solid #8c4498;
  font-weight: 500;
  color: #FFF; }

a[ui-sref][md-ink-ripple], a[ng-click][md-ink-ripple] {
  position: relative;
  cursor: pointer;
  display: block;
  text-decoration: none; }

md-toolbar.md-small {
  font-size: 16px;
  min-height: 40px; }

.nav-icon {
  height: 15px;
  margin-top: 4px; }

.md-small .md-toolbar-tools {
  height: 40px;
  max-height: 40px;
  font-size: 16px; }

form .md-button {
  margin: 6px 0; }

.hunter-sub-list {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto; }

button.h-icon-btn {
  min-width: 40px;
  min-height: 40px;
  border-radius: 100%; }

.custom-list md-list-item .md-list-item-text {
  padding-top: 10px; }

.user-img {
  max-width: 90%;
  max-height: 100%; }

.mini-form {
  padding: 16px; }
  .mini-form md-input-container input {
    color: #666; }
  .mini-form md-input-container label {
    color: #666; }

.stat-card[flex] {
  margin-bottom: 0; }

.light {
  font-weight: 300; }

.regular {
  font-weight: 400; }

.padding-tall {
  padding: 8px 24px; }

.margin-left {
  margin-left: 8px; }

.margin-left-big {
  margin-left: 16px; }

.margin-top-big {
  margin-top: 16px; }

.mini-form {
  color: #FFF; }

.stat-card {
  height: 125px;
  color: #FFF;
  background-repeat: no-repeat;
  background-size: contain; }
  .stat-card div.light {
    font-weight: 300; }
  .stat-card div.regular {
    font-weight: 400; }
  .stat-card md-list-item .md-list-item-text {
    padding-top: 10px; }
  .stat-card md-content {
    height: 468px; }

.primary-c-6 .md-title {
  color: #555; }

md-toolbar.medium {
  min-height: 90px; }
  md-toolbar.medium .md-toolbar-tools {
    max-height: 90px;
    height: 90px; }

.text-right {
  text-align: right; }

.heading {
  text-align: center;
  padding-top: 8px; }
  .heading .med {
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 20px; }

.stat-card.big {
  height: 150px;
  background-position: right center; }

.stat-card.medium {
  height: 250px; }

.stat-card.tall {
  height: 516px; }

.stat-card.top {
  margin-bottom: 16px; }

.search-i {
  border-radius: 5px;
  border: 0px;
  padding: 10px;
  background-color: #f0ece9;
  color: #555; }

.vh-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.trans-white {
  background-color: rgba(255, 255, 255, 0.6); }

.trans-white:hover {
  background-color: white !important; }

.pos-bot {
  position: absolute;
  bottom: 0; }

.hundred {
  width: 100%; }

button label {
  cursor: pointer;
  display: block; }

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
  background: white; }

.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0; }

.total-users {
  background-image: url("../img/icons/6.png"); }

.total-seekers {
  background-image: url("../img/icons/5.png"); }

.total-emps {
  background-image: url("../img/icons/4.png"); }

.total-jobs-posted {
  background-image: url("../img/icons/3.png"); }

.total-seekers-hired {
  background-image: url("../img/icons/2.png"); }

.total-jobs-completed {
  background-image: url("../img/icons/1.png"); }

.total-active-seekers, .total-active-emps {
  background-image: url("../img/icons/8.png"); }

.total-interests {
  background-image: url("../img/icons/9.png"); }

.total-matches {
  background-image: url("../img/icons/10.png"); }

.primary-c {
  background-color: #8c4498; }

.primary-c-1 {
  background-color: #578ebe; }

.primary-c-2 {
  background-color: #6cace0; }

.primary-c-3 {
  background-color: #44b6ae; }

.primary-c-4 {
  background-color: #387996; }

.primary-c-5 {
  background-color: #43bfb7; }

.primary-c-6 {
  background-color: #EEE; }

.accent-c {
  background-color: #da9838; }

.accent-c-a {
  background-color: rgba(218, 152, 56, 0.25); }

.accent-c-1 {
  background-color: #dc6839; }

.accent-c-1-a {
  background-color: rgba(220, 104, 57, 0.25); }

.accent-c-2 {
  background-color: #d9db38; }

.accent-c-2-a {
  background-color: rgba(217, 219, 56, 0.25); }

.accent-c-3 {
  background-color: #a1c583; }

.accent-c-3-a {
  background-color: rgba(161, 197, 131, 0.25); }

.accent-c-4 {
  background-color: #8fb643; }

.accent-c-5 {
  background-color: #E5E9EC; }

.accent-c-6 {
  background-color: #E7E2CC; }

.warn-c-1 {
  background-color: #f3565d; }

.warn-c-2 {
  background-color: #f4a994; }

.warn-c-3 {
  background-color: #E5DEEE; }

.dark-c {
  background-color: #323A45; }

.transparent {
  background-color: transparent; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

.repeat-cont #horizontal-container {
  height: 48px;
  width: 830px; }

.repeat-cont .repeated-item {
  border-right: 1px solid #9B9B9B;
  box-sizing: border-box;
  display: inline-block;
  height: 48px;
  text-align: center;
  min-width: 50px; }
  .repeat-cont .repeated-item a {
    padding: 14px; }

.repeat-cont md-content {
  margin: 16px; }

.repeat-cont md-virtual-repeat-container {
  border: solid 1px grey; }

.small-btn {
  max-height: 36px !important;
  width: 36px !important;
  line-height: 36px !important;
  font-size: 12px; }

.error-msg {
  background-color: #F3565D; }

.success-msg {
  background-color: #8FB643; }
